/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  user-select: none;
  padding: 0 2px 0 2px;
  transition: 0.2s ease-in-out;
}

.tree-view_arrow:after {
  font-family: FontAwesome;
  content: "\f0d7";
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  transform: rotate(-90deg);
}

.tree-view-file {
  margin: 4px 0 4px 10px;
  cursor: pointer;
}

.tree-view-file-text{
  margin-left: 5px;
}

.tree-view-file-icon{
  color: #00d1b2;
}

.tree-view-folder {
  cursor: pointer;
}

.tree-view-folder-text {
  margin-left: 5px;
}