
.centerVertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerSpinner {
    margin: 0 auto;
    transform:scale(0.5);
}

.basePath {
    color: #00d1b2;
    font-weight: 400
}
